; https://editorconfig.org/

root = true

[*.json]
indent_size = 4
indent_style = space

[Makefile]
indent_style = tab
indent_size = 4

[{go.mod,go.sum,*.go,.gitmodules}]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

eclint_indent_style = unset

[*.tmpl]
insert_final_newline = false

[Dockerfile]
indent_size = 4

[*.yaml,*.yml]
indent_size = 2
indent_style = space

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
