> {{ .Info.About }}

**Licensed under:** {{ .Info.LicenseName }}
**Full license:** {{ .Info.LicenseURL }}
**Contributors:** {{ .Info.Contributors }}

{{- if .Info.Version }}
**Version:** {{ .Info.Version }}
{{ end }}

{{- if (withParams "plus") }}
-----------------

{{ if .Info.GitCommit -}}
**Build commit:**  {{ .Info.GitCommit }}
{{ end }}

{{- if .Info.BuildDate -}}
**Build date:** {{ .Info.BuildDate }}
{{ end }}

{{- if .Info.GoVersion -}}
**Go:** {{ .Info.GoVersion }}
{{ end }}
{{ end -}}
